body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

.header{
  border: 2px solid red;
}

.greeting{
  border: 2px solid blue;
}

.namechanger {
  display: flexbox;
  flex-direction: row;
  border: 2px solid orange
}

.label {
flex:auto
}

#nameInput {
flex:auto;
}

.button {
flex:auto;
}